body {
	background-color: coral;
	font-size: 60px;
}

.boardContainer {
	display: grid;
	margin-left: 500px;
	gap: 10px;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 150px);
}

.rowBox {
	padding-top: 35px;
	text-align: center;
	background-color: peachpuff;
	border: 1px solid black;
}

.buttonContainer,
.nameContainer,
.announceResult {
	text-align: center;
}

.nameContainer {
	margin-top: 20px;
	font-size: large;
}

.resetGame,
.startGame {
	box-shadow: 0px 10px 14px -7px #37575c;
	background: linear-gradient(to bottom, peachpuff 5%, coral 100%);
	background-color: peachpuff;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding: 13px 32px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2794b8;
}
.resetGame:hover,
.startGame:hover {
	background: linear-gradient(to bottom, #9e5a11 5%, #b39d59 100%);
	background-color: #9e5a11;
}
.resetGame:active,
.startGame:active {
	position: relative;
	top: 1px;
}
